* {
  margin: auto0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  list-style: none;
}

body {
  background: #455563;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
